<div class="outer_container">
    <div class="d-flex justify-content-between align-items-center my-2">
      <p class="fs_18 m-0" style="color: var(--header-active-text-color)">
        {{ sectionData.type }}
      </p>
      <p class="view_all">View All</p>
    </div>
    <div class="inner_container overflow-x-auto">
      <div class="row flex-nowrap">
        <ng-container *ngFor="let card of sectionData.cards">
          <div class="col-md-3">
            <div class="video_section position-relative overflow-hidden" [ngClass]="card.isLive ? 'live':''">
              <img class="w-100 h-100" src="{{ card.posterImage }}" alt="" />
              <div class=" transparent_bg video_time" *ngIf="card.isLive">
                <p class="m-0 time_left">{{ card.video_time }}</p>
              </div>
            </div>
            <div class="video_details">
              <div class="p-3">
                <div class="video_name">
                  {{ card.videoName }}
                </div>
                <div class="channel_name d-flex align-items-center gap-2 mt-2">
                  <p class="by_channel m-0 overflow_text">by {{ card.channelName }}</p>
                  <div class="d-flex align-items-center gap-1">
                      <div class="gray_dot"></div>
                      <p class="time_left m-0"> {{ card.time_left+" left"}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  