.topics{
    width: max-content;
    border: 1px solid #C9C9C9;
    text-align: center;
    border-radius: 8px;
    padding: 8px 18px;
    background-color: white;
    color: var(--topics);
}

.wrapper{
    background: #D9F4F9;
    padding: 1rem;
}